.container {
    align-items: center;
    display: flex;
}

.img-tela5 {
    margin: 100px 0 0 200px;
}

.tela5 {
    margin: 130px 200px 0 100px;
}

.container-pergunta-tela5 {
    color: var(--cor-fonte);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
}

#caracteresRestantes {
    color: var(--cor-fonte);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

textarea {
    border: 1px solid var(--cor-borde-textarea);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    height: 225px;
    left: 732px;
    outline: none;
    padding: 10px 15px 0 15px;
    width: 459px;
}

textarea:hover {
    border: 1px solid var(--cor-hover-textarea);
}

.container-botao {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 418px;
}

.container-botao-back,
.container-botao-next {
    background: var(--cor-botao);
    border: transparent;
    border-radius: 35px;
    color: var(--cor-fonte-botao);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    height: 36px;
    width: 200px;
}

.botao-skip {
    background: var(--cor-botao);
    border: transparent;
    border-radius: 35px;
    color: var(--cor-fonte-botao);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    height: 36px;
    margin-top: 15px;
    width: 100%;
}

.container-botao-back-next {
    display: flex;
    justify-content: space-between;
}

button:hover {
    color: var(--cor-fonte-hover);
    background: var(--cor-botao-hover);
}