.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.img-tela2{
    margin-left: 20rem;
    text-align: center;

}

.container-texto-botao{
    width: 50%;
    text-align: center;
    margin-top: 4rem;
    margin-left: 8.8rem;
    margin-right: 24.7rem;
}


.titulo-tela2{
    color: var(--cor-fonte);
    font-size: 3.9rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.texto-tela2{
    color: var(--cor-fonte);
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 5rem;
    
}

.container-botao{
    display: flex;
    justify-content: space-around;
    
}

.botao-tela2{
    background: var(--cor-botao);
    border: transparent;
    border-radius: 3.5rem;
    color: var(--cor-fonte-botao);
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    height: 3.6rem;
    width: 20rem;
}

button:hover {
    color: var(--cor-fonte-hover);
    background: var(--cor-botao-hover);
}