.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.tela4{
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  width: 35%;
}

.container-questionario1-tela4{
  margin-bottom: 3rem;   
}

.container-pergunta1-tela4, .container-pergunta2-tela4{
  color: var(--cor-fonte);
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.container-select {
  border: 1px solid var(--cor-borda-select);
  border-radius: 2rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  height: 5.2rem;
  margin-top: 0.8rem;
  max-width: 100%;
  padding: 0.25em 0.5em;
  width: 45.9rem;
}

select {
  background: var(--cor-fundo-select);
  border: none;
  cursor: inherit;
  font-size: inherit;
  outline: none;
  width: 100%;
}

/* INPUT RADIO */

.container-input {
  cursor: pointer;
  display: block;
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
  padding-left: 3.5rem;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.container-input input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.checkmark {
  background-color: var(--cor-fundo-radio);
  height: 2.6rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 2.6rem;
}

.container-input:hover input~.checkmark {
  background-color: var(--cor-fundo-radio);
}

.container-input input:checked~.checkmark {
  background-color: var(--cor-botao-radio);
}

.container-input input:checked~.checkmark:after {
  display: block;
}

.container-input .checkmark:after {
  border: solid var(--cor-fonte-radio);
  border-width: 0 3px 3px 0;
  height: 1rem;
  left: 0.9rem;
  top: 0.5rem;
  transform: rotate(45deg);
  width: 0.5rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}


/* BOTAO */

.container-botao {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  width: 41.8rem;
}

.container-botao-back,
.container-botao-next {
  background: var(--cor-botao);
  border: transparent;
  border-radius: 3.5rem;
  color: var(--cor-fonte-botao);
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  height: 3.6rem;
  width: 20rem;
}

.botao-skip {
  background: var(--cor-botao);
  border: transparent;
  border-radius: 3.5rem;
  color: var(--cor-fonte-botao);
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  height: 3.6rem;
  margin-top: 1.5rem;
  width: 100%;
}

.container-botao-back-next {
  display: flex;
  justify-content: space-between;
}

button:hover {
  color: var(--cor-fonte-hover);
  background: var(--cor-botao-hover);
}