.container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.img-tela1{
    margin-top: 25px;
}

.tela1{
    margin-left: 80px;
    text-align: center;
}

.container-titulo-tela1{
    color: var(--cor-fonte);
    font-size: 111px;
    font-weight: 700;
    margin-bottom: 44px;
}

.container-texto-tela1{
    color: var(--cor-fonte);
    font-size: 29px;
    font-weight: 700;
}

.container-botao-tela1{
    background: var(--cor-botao);
    border: transparent;
    border-radius: 35px;
    color: var(--cor-fonte-botao);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    height: 35.5px;
    margin-top: 66px;
    width: 200px;
    text-align: center;
}