.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.img-tela1{
    margin-left: 30rem;
    text-align: center;

}

.container-texto-botao{
    width: 50%;
    text-align: center;
}

.container-texto, .botao-tela1{
    margin-right: 10rem;
}

.titulo-tela1{
    color: var(--cor-fonte);
    font-size: 11.1rem;
    font-weight: 700;
    margin-bottom: 4.4rem;
}

.texto-tela1{
    color: var(--cor-fonte);
    font-size: 2.9rem;
    font-weight: 700;
}

.botao-tela1{
    background: var(--cor-botao);
    border: transparent;
    border-radius: 3.5rem;
    color: var(--cor-fonte-botao);
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 10rem;
    height: 3.6rem;
    width: 20rem;
}

button:hover {
    color: var(--cor-fonte-hover);
    background: var(--cor-botao-hover);
}