.container{
    align-items: center;
    display: flex;
}

.img-tela6{
    margin: 100px 0 0 200px;
}

.tela6{
    display: flex;
    flex-direction: column;
    margin: 150px 0 0 120px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input::placeholder {
    color: var(--cor-font-placeholder);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.container-age input{
    border: 1px solid var(--cor-borde-input);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 52px;
    margin-top: 18px;
    padding-left: 15px;
    width: 152px;
}

.container-age label{
    color: var(--cor-fonte);
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: 700;
    margin-left: 10px;
}

.container-name-email label{
    color: var(--cor-fonte);
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 20px;
}

.container-name-email input{
    border: 1px solid var(--cor-borde-input);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 52px;
    margin-top: 18px;
    padding-left: 15px;
    width: 459px;
}

input:hover{
	border: 1px solid var( --cor-borde-input-hover);
}

.container-botao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 35px;
}

button{
    background: var(--cor-botao);
    border: transparent;
    border-radius: 35px;
    color: var(--cor-fonte-botao);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    height: 36px;
    width: 418px;
}

button:hover{
    color: var(--cor-fonte-hover);
    background:var(--cor-botao-hover);
}

