.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.tela5{
    width: 30%;
}

.img-tela5{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}
#caracteresRestantes {
    color: var(--cor-fonte);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.container-pergunta-tela5 {
    color: var(--cor-fonte);
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

#caracteresRestantes {
    color: var(--cor-fonte);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

textarea {
    border: 1px solid var(--cor-borde-textarea);
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: 400;
    height: 22.5rem;
    left: 73.2rem;
    outline: none;
    padding: 1rem 1.5rem 0 1.5rem;
    width: 45.9rem;
}

textarea:hover {
    border: 1px solid var(--cor-hover-textarea);
}

.container-botao {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 41.8rem;
}

.container-botao-back,
.container-botao-next {
    background: var(--cor-botao);
    border: transparent;
    border-radius: 35px;
    color: var(--cor-fonte-botao);
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    height: 3.6rem;
    width: 20rem;
}

.botao-skip {
    background: var(--cor-botao);
    border: transparent;
    border-radius: 3.5rem;
    color: var(--cor-fonte-botao);
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    height: 3.6rem;
    margin-top: 1.5rem;
    width: 100%;
}

.container-botao-back-next {
    display: flex;
    justify-content: space-between;
}

a[disabled='disabled'] {
    pointer-events: none;
}

button:hover {
    color: var(--cor-fonte-hover);
    background: var(--cor-botao-hover);
} 

