.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.tela6 {
    width: 30%;
}

.img-tela6 {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input::placeholder {
    color: var(--cor-font-placeholder);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.container-age input {
    border: 1px solid var(--cor-borde-input);
    border-radius: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    height: 5.2rem;
    margin-top: 1.8rem;
    padding-left: 1.5rem;
    width: 15.2rem;
}

.container-age label {
    color: var(--cor-fonte);
    display: flex;
    flex-direction: column;
    font-size: 2.6rem;
    font-weight: 700;
    margin-left: 1rem;
}

.container-name-email label {
    color: var(--cor-fonte);
    display: flex;
    flex-direction: column;
    font-size: 2.6rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 2rem;
}

.container-name-email input {
    border: 1px solid var(--cor-borde-input);
    border-radius: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    height: 5.2rem;
    margin-top: 1.8rem;
    padding-left: 1.5rem;
    width: 45.9rem;
}

input:hover {
    border: 1px solid var(--cor-borde-input-hover);
}

.container-botao {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3.5rem;
}

button {
    background: var(--cor-botao);
    border: transparent;
    border-radius: 3.5rem;
    color: var(--cor-fonte-botao);
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    height: 3.6rem;
    width: 41.8rem;
}

button:hover {
    color: var(--cor-fonte-hover);
    background: var(--cor-botao-hover);
}

.button[disabled='disabled'] {
    display: none;
}

.error {
    display: none;
}

.visible {
    display: block;
}

.visible {
    font-family: var(--font);
    font-weight: 700;
    text-align: justify;
    font-size: 1.6rem;
    color: red;
}