.container {
    align-items: center;
    display: flex;
}

.img-tela2 {
    margin-top: 100px;
    margin-left: 200px;
}

.tela2 {
    margin: 150px 235px 0 100px;
    text-align: center;
}

.container-titulo-tela2 {
    color: var(--cor-fonte);
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 25px;
}

.container-texto-tela2 {
    color: var(--cor-fonte);
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.container-botao {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

.container-botao button {
    background: var(--cor-botao);
    border: transparent;
    border-radius: 35px;
    color: var(--cor-fonte-botao);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    height: 35.5px;
    width: 200px;
}

button:hover {
    color: var(--cor-fonte-hover);
    background: var(--cor-botao-hover);
}