.container{
    align-items: center;
    display: flex;
}

.img-tela6{
    margin-top: 100px;
    margin-left: 200px;
}

.tela6{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 150px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.container-age input{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 18px;
    box-sizing: border-box;
    width: 152px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.container-age label{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-fonte);
}

.container-name-email label{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-fonte);
}

.container-name-email input{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    box-sizing: border-box;
    width: 459px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

input:hover{
	border: 1px solid black;
}

.container-botao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 35px;
}

button{
    background: var(--cor-botao);
    border: transparent;
    border-radius: 35px;
    color: var(--cor-fonte-botao);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    height: 36px;
    width: 418px;
}

button:hover{
    color: black;
    background: rgba(255, 255, 125, 1);
}

