@media screen and (min-width: 100px) and (max-width: 668px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .img-tela3{
        height: 35%;
        margin-left: 10rem;
    }

    .tela3{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5rem;
        width: 100%;
    }

    .container-pergunta1-tela3, .container-pergunta2-tela3{
        font-size: 1.6rem;
    }

    .container-select {
        font-size: 1.6rem;
    }

    .container-resposta-tela3{
        font-size: 1.6rem;
    }

    .container-select {
        font-size: 1.6rem;
        height: 3.3rem;
        width: 28rem;
    }
    .checkmark{
        height: 1.5rem;
        width: 1.5rem;
    }

    .container-botao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container-botao-back,
    .container-botao-next {
        font-size: 1.6rem;
        height: 2.6rem;
        width: 14.2rem;
    }

    .container-botao-next{
        margin-left: 1.5rem;
    }
    
    .botao-skip {
        font-size: 1.6rem;
        height: 2.6rem;
        margin-top: 1.5rem;
        width: 30.2rem;
    }
    
    .container-botao-back-next {
        display: flex;
        justify-content: normal;
    }
    
}

@media screen and (min-width: 668px) and (max-width: 768px) {
    .container{
        align-items: center;
        justify-content: center;
     }
 
     
     .img-tela3{
         height: 30%;
     }
     
     .tela3{
         width: 100%;
         display: flex;
         flex-direction: column;
         margin-bottom: 5rem;
     }
     
     .container-questionario1-tela3{
         margin: 0;   
         padding: 0;
         padding-bottom: 1rem;
     }
 
     .container-questionario2-tela3{
         margin: 0;   
         padding: 0;
     }
     
     .container-pergunta1-tela3, .container-pergunta2-tela3{
         font-size: 1.6rem;
         margin: 0;
         padding: 0;
     }
 
     .container-pergunta2-tela3{
         padding-bottom: 1rem;
     }
     
     .container-select {
         font-size: 1.6rem;
         height: 3.3rem;
         width: 28rem;
     }
 
     .container-resposta-tela3{
         font-size: 1.6rem;
         margin: 0;
         padding: 0;
         padding-left: 2rem;
     }
 
     .checkmark{
         height: 1.5rem;
         width: 1.5rem;
     }
 
     .container-botao {
         display: flex;
         flex-direction: column;
         width: 41.8rem;
         margin: 0;
         padding: 0;
         padding-top: 2rem;
     }
     
     .container-botao-back,
     .container-botao-next {
         font-size: 1.6rem;
         height: 2.6rem;
         width: 14.2rem;
     }
 
     .container-botao-next{
         margin-left: 1.5rem;
     }
     
     .botao-skip {
         font-size: 1.6rem;
         height: 2.6rem;
         margin-top: 1.5rem;
         width: 30.2rem;
     }
     
     .container-botao-back-next {
         display: flex;
         justify-content: normal;
     }
    
}
